<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> FDND Documentatie</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script defer src="./scripts/script.js"></script>
    <script defer src="./scripts/modal.js"></script>
    <script defer src="./scripts/octokit.js"></script>

    <!-- <script defer src="./scripts/graphql-v1.js"></script> -->
    <!-- <script src="./scripts/graphql.js"></script> -->

    <!-- fonts -->
    
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap" rel="stylesheet">
    

    <link rel="icon" type="image/x-icon" href="./images/">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
</head>
<body>